*.pyc
__pycache__/
db.sqlite3
*.log
*.pot
*.py[co]


my_env/
venv/
env/
.venv/
pyvenv.cfg

.vscode/
.idea/
*.swp
*.swo

/static/
/media/

.env
.env.local
.env.*.local
secrets.py
mysite/settings.py

.DS_Store
Thumbs.db